{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>FoodFarm - {% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="BretechSolutions">
    <meta name="keywords" content="fastfood, groserye">
    <meta name="description" content="fast selling food">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fastfood/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fastfood/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'fastfood/css/vendor.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik+Mono+One&display=swap"
    rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
  <div class="main-navbar shadow-sm sticky-top">
        <div class="top-navbar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 my-auto d-none d-sm-none d-md-block d-lg-block">
                        <h5 class="brand-name"><a href="{% url "home" %}"class='text-white text-decoration-none' >FAST FOODS</a></h5>
                    </div>
                    <div class="col-md-5 my-auto">
                        <form role="search">
                            <div class="input-group">
                                <input type="search" placeholder="Search your product" class="form-control" />
                                <button class="btn bg-white" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5 my-auto">
                        <ul class="nav justify-content-end">
                            
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-shopping-cart"></i> Cart (0)
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-heart"></i> Wishlist (0)
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-user"></i> Username 
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a></li>
                                 <li><a class="dropdown-item" href="#"><i class="fa fa-list"></i> My Orders</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fa fa-heart"></i> My Wishlist</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fa fa-shopping-cart"></i> My Cart</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand d-block d-sm-block fw-bold text-uppercase d-md-none d-lg-none" href="{% url "home" %}">
                    FAST FOODS
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "home" %}">Home</a>
                        </li>
                         <li class="nav-item border-end-0 border-lg-end-0 border-lg-end dropdown has-megamenu">
                         <a class="nav-link  px-3 py-3 dropdown-toggle" href="#" data-bs-toggle="dropdown">
                          All Categories 
                          </a>
                        <div class="dropdown-menu megamenu p-lg-5" role="menu">
                  <div class="row g-3 row-cols-1 row-cols-lg-5">
                    <div class="col">
                      <div class="col-megamenu">
                        <h6 class="title">Household Items</h6>
                        <ul class="list-unstyled">
                          <li><a href="#" class="nav-link p-0">Eco-Friendly Cleaning Products</a></li>
                          <li><a href="#" class="nav-link p-0">Reusable Bags</a></li>
                          <li><a href="#" class="nav-link p-0">Biodegradable Trash Bags</a></li>
                          <li><a href="#" class="nav-link p-0">Organic Laundry Detergent</a></li>
                        </ul>
                      </div> <!-- col-megamenu.// -->
                      <div class="col-megamenu mt-4">
                        <h6 class="title">Frozen Foods</h6>
                        <ul class="list-unstyled">
                          <li><a href="#" class="nav-link p-0">Frozen Berries</a></li>
                          <li><a href="#" class="nav-link p-0">Frozen Vegetables (Peas, Corn, Mixed Veggies)</a></li>
                          <li><a href="#" class="nav-link p-0">Organic Frozen Meals</a></li>
                          <li><a href="#" class="nav-link p-0">Ice Cream</a></li>
                          <li><a href="#" class="nav-link p-0">Frozen Pizza</a></li>
                        </ul>
                      </div> <!-- col-megamenu.// -->
                    </div>
                    <div class="col">
                      <div class="col-megamenu">
                        <h6 class="title">Dairy Products</h6>
                        <ul class="list-unstyled">
                          <li><a href="#" class="nav-link p-0">Organic Milk</a></li>
                          <li><a href="#" class="nav-link p-0">Almond Milk</a></li>
                          <li><a href="#" class="nav-link p-0">Soy Milk</a></li>
                          <li><a href="#" class="nav-link p-0">Organic Yogurt</a></li>
                          <li><a href="#" class="nav-link p-0">Cheese (Cheddar, Mozzarella, Goat Cheese)</a></li>
                          <li><a href="#" class="nav-link p-0">Butter</a></li>
                          <li><a href="#" class="nav-link p-0">Cream Cheese</a></li>
                        </ul>
                      </div> <!-- col-megamenu.// -->
                      <div class="col-megamenu mt-4">
                        <h6 class="title">Meat and Poultry</h6>
                        <ul class="list-unstyled">
                          <li><a href="#" class="nav-link p-0">Organic Chicken Breasts</a></li>
                          <li><a href="#" class="nav-link p-0">Organic Ground Beef</a></li>
                          <li><a href="#" class="nav-link p-0">Organic Pork Chops</a></li>
                          <li><a href="#" class="nav-link p-0">Organic Turkey</a></li>
                          <li><a href="#" class="nav-link p-0">Organic Sausages</a></li>
                          <li><a href="#" class="nav-link p-0">Organic Bacon</a></li>
                        </ul>
                      </div> <!-- col-megamenu.// -->
                    </div><!-- end col-3 -->
                    <div class="col">
                      <div class="col-megamenu">
                        <h6 class="title">Seafood</h6>
                        <ul class="list-unstyled">
                          <li><a href="#" class="nav-link p-0">Wild-Caught Salmon</a></li>
                          <li><a href="#" class="nav-link p-0">Shrimp</a></li>
                          <li><a href="#" class="nav-link p-0">Tilapia</a></li>
                          <li><a href="#" class="nav-link p-0">Tuna</a></li>
                          <li><a href="#" class="nav-link p-0">Cod</a></li>
                        </ul>
                      </div> <!-- col-megamenu.// -->
                      <div class="col-megamenu mt-4">
                        <h6 class="title">Bakery</h6>
                        <ul class="list-unstyled">
                          <li><a href="#" class="nav-link p-0">Whole Grain Bread</a></li>
                          <li><a href="#" class="nav-link p-0">Multigrain Bread</a></li>
                          <li><a href="#" class="nav-link p-0">Sourdough Bread</a></li>
                          <li><a href="#" class="nav-link p-0">Organic Bagels</a></li>
                          <li><a href="#" class="nav-link p-0">Organic Cookies</a></li>
                          <li><a href="#" class="nav-link p-0">Pantry Staples</a></li>
                          <li><a href="#" class="nav-link p-0">Organic Pasta</a></li>
                          <li><a href="#" class="nav-link p-0">Brown Rice</a></li>
                          <li><a href="#" class="nav-link p-0">Quinoa</a></li>
                          <li><a href="#" class="nav-link p-0">Oats</a></li>
                        </ul>
                      </div> <!-- col-megamenu.// -->
                    </div><!-- end col-3 -->
                    <div class="col">
                      <div class="col-megamenu">
                        <h6 class="title">Lentils</h6>
                        <ul class="list-unstyled">
                          <li><a href="#" class="nav-link p-0">Chickpeas</a></li>
                          <li><a href="#" class="nav-link p-0">Black Beans</a></li>
                          <li><a href="#" class="nav-link p-0">Canned Tomatoes</a></li>
                          <li><a href="#" class="nav-link p-0">Tomato Sauce</a></li>
                          <li><a href="#" class="nav-link p-0">Olive Oil</a></li>
                          <li><a href="#" class="nav-link p-0">Coconut Oil</a></li>
                          <li><a href="#" class="nav-link p-0">Apple Cider Vinegar</a></li>
                          <li><a href="#" class="nav-link p-0">Organic Spices (Cumin, Turmeric, Paprika, etc.)</a></li>
                        </ul>
                      </div> <!-- col-megamenu.// -->
                      <div class="col-megamenu mt-4">
                        <h6 class="title">Beverages</h6>
                        <ul class="list-unstyled">
                          <li><a href="#" class="nav-link p-0">Organic Coffee</a></li>
                          <li><a href="#" class="nav-link p-0">Herbal Tea</a></li>
                          <li><a href="#" class="nav-link p-0">Green Tea</a></li>
                          <li><a href="#" class="nav-link p-0">Coconut Water</a></li>
                          <li><a href="#" class="nav-link p-0">Kombucha</a></li>
                          <li><a href="#" class="nav-link p-0">Fresh Juices</a></li>
                        </ul>
                      </div> <!-- col-megamenu.// -->
                    </div>
                    <div class="col">
                      <div class="col-megamenu">
                        <h6 class="title">Snacks</h6>
                        <ul class="list-unstyled">
                          <li><a href="#" class="nav-link p-0">Organic Granola Bars</a></li>
                          <li><a href="#" class="nav-link p-0">Dried Fruit (Apricots, Raisins, Cranberries)</a></li>
                          <li><a href="#" class="nav-link p-0">Nuts (Almonds, Walnuts, Cashews)</a></li>
                          <li><a href="#" class="nav-link p-0">Organic Popcorn</a></li>
                          <li><a href="#" class="nav-link p-0">Dark Chocolate</a></li>
                          <li><a href="#" class="nav-link p-0">Organic Chips</a></li>
                        </ul>
                      </div> <!-- col-megamenu.// -->
                      <div class="col-megamenu mt-4">
                        <h6 class="title">Personal Care</h6>
                        <ul class="list-unstyled">
                          <li><a href="#" class="nav-link p-0">Organic Shampoo</a></li>
                          <li><a href="#" class="nav-link p-0">Organic Conditioner</a></li>
                          <li><a href="#" class="nav-link p-0">Natural Soap</a></li>
                          <li><a href="#" class="nav-link p-0">Organic Toothpaste</a></li>
                          <li><a href="#" class="nav-link p-0">Natural Deodorant</a></li>
                          <li><a href="#" class="nav-link p-0">Organic Skincare Products</a></li>
                        </ul>
                      </div> <!-- col-megamenu.// -->
                    </div><!-- end col-3 -->
                  </div><!-- end row -->
                </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">New Arrivals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Featured Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Testimonials</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% block sliders %}{% endblock sliders %}
  {% block content %}{% endblock content %}
      <div class="row">
        <div class="col-md-6 fixed-bottom copyright">
          <p>© 2024 FoodFarm. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="{% static "fastfood/js/jquery-1.11.0.min.js" %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static "fastfood/js/modernizr.js" %}"></script>
  <script src="{% static "fastfood/js/plugins.js" %}"></script>
  <script src="{% static "fastfood/js/script.js" %}"></script>
</body>
</html>