{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block body %}
<div class="container mt-3">
  <br />
  <h1 class="text-center">About us</h1>
  <br />
  <div class="row container">
    <p class="fs-4 text-center">
      Fast foods is a marketplace, logistics service and payment service,
      operating throughout Africa. The logistics service enables the delivery of
      packages through local partners while the payment services facilitate the
      payments of online transactions. It has partnered with more than 100,000
      sellers and individuals.
    </p>
    <br />
    <br />
    <h1 class="text-center">Our Mission</h1>
    <br />
    <div class="row container">
      <p class="fs-4 text-center">
        Fast food's mission is to sell 100% authentic products with the best
        prices in Kenya while offering the most convenient shopping.
      </p>
    </div>
  </div>
  
</div>
<br><br><br>
{% endblock body %}